* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.content-product {
    .grid {
        width: 1200px;
        max-width: 100%;
        margin: 0 auto;
        .breadcrumb {}
        .title-product {
            width: 600px;
            color: rgb(210, 210, 210);
            font-size: 60px;
            font-weight: 700;
        }
        .row-option {
            display: flex;
            .option-product {
                .optional {
                    text-transform: uppercase;
                    display: block;
                    font-size: 17px;
                    font-weight: 200;
                    color: #707070;
                    border-radius: 30px;
                    margin-right: 28px;
                    padding: 5px 30px;
                    border: 1px solid #707070;
                    cursor: pointer;
                    &:hover {
                        border: 1px solid #cc0000;
                        color: #cc0000;
                    }
                    &.active {
                        border: 1px solid #cc0000;
                        color: #cc0000;
                    }
                }
            }
        }
        .product-row {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 25px;
            .product-column {
                cursor: pointer;
                width: 25%;
                padding: 0 15px;
                .product-image {
                    // background: url("https://cdn.honda.com.vn/motorbikes/August2023/ysNjFYeAUAMLeWs4mu6L.png") no-repeat center;
                    // background-size: contain;
                    // height: 200px;
                }
                .product-name {
                    font-size: 24px;
                    color: #cc0000;
                    font-weight: 700;
                    line-height: 36px;
                    padding-top: 20px;
                }
                .product-price {
                    color: #212529;
                    font-size: 16px;
                }
            }
        }
    }
}