* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.content-car {
    .grid {
        width: 1200px;
        max-width: 100%;
        margin: 0 auto;
        .breadcrumbs {}
        .row-car {
            display: flex;
            flex-wrap: wrap;
            .col-car {
                width: 33.33333%;
                .img-car {
                    cursor: pointer;
                }
                .name-car {
                    padding-left: 15px;
                    font-size: 24px;
                    color: #cc0000;
                    font-weight: 700;
                }
                .price-car {
                    font-size: 18px;
                    color: #212121;
                    padding-left: 15px;
                    font-weight: 400;
                }
                .more {
                    margin-bottom: 120px;
                    margin-top: 10px;
                    .try-drive {
                        background: #cc0000;
                        padding: 6px 12px;
                        font-size: 16px;
                        color: #fff;
                        font-weight: 400;
                        border-radius: 2px;
                        cursor: pointer;
                    }
                    .cal-price {
                        font-size: 16px;
                        border: 1px solid #cc0000;
                        color: #cc0000;
                        font-weight: 400;
                        padding: 6px 12px;
                        margin-left: 15px;
                        border-radius: 2px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}